<section>
<div class="container">
<h2><%= link_to 'Legal Contracts', '/legal-docs',  class: "btn btn-default" %> <%= link_to 'New Legal Contract', '/legal-docs/new', class: "btn btn-default" %> <%= link_to 'All Clients', '/clients', class: "btn btn-info" %></h2>
<br>
<h2>Existing Legal Contracts</h2>
  <% @legal_contracts.each do |legal_contract| %>
    <h3>Videographer: <%= legal_contract.videographer %></h3>
    <h3>Hiring Attorney: <%= legal_contract.hiring_attorney %></h3>
    <h3>Unique Job ID: <a href="/legal-docs/<%= legal_contract.id %>"><%= legal_contract.ticket_name %></a></h3>
    <h3>Firm: <%= legal_contract.firm %></h3>
    <h3>Recording Venue: <%= legal_contract.recording_venue %></h3>
    <h3>Witness: <%= legal_contract.witness %></h3>
    <h3>Deposition/Patent Filing Due Date: <%= legal_contract.due_date %></h3>
    <h4>Billable Hours: <%= legal_contract.billable_hours %> </h4>
    <h4>Job Status: 
      <% if legal_contract.active %> 
      currently in progress...
      <% else %> 
      gig completed!
      <% end %>
    </h4>
    <br>  
  <% end %>
 </div> 
</section>