<!-- Court Reporting & Video Deposition -->

<div class="container">
  <div id="content-wrapper">
  <br>
  <br>
  <br>
    <ul>Legal View, Inc.</ul>
    <ul>Address Payments To: <%= @legal_contract.videographer %></ul>
  <br>
    <ul>Videographer's Signature: _________________________</ul>
  <br>
    <ul>2863 West 21st Place, Chicago, IL 60622</ul>
    <ul>payments@gmail.com | (800) 600-3333</ul>
  <br>
  <br>
    <ul><%= @legal_contract.hiring_attorney %> Read-on</ul>
    <br>
    <ul>We are now on the record in the matter of: __________________________________</ul>
    <ul>In the (court): __________________________________</ul>
    <ul>Today's date is: <%= @legal_contract.due_date %></ul>
    <ul>The time is now: __________________ AM/PM</ul>
    <ul>This is the video recorded deposition of ____________________</ul>
    <ul>We are located at: <%= @legal_contract.recording_venue %></ul>
    <ul>My name is <%= @legal_contract.videographer %>, legal video specialist</ul>
    <ul>The primary court reporter is <%= @legal_contract.hiring_attorney %>, I am in association with <%= @legal_contract.firm %> and Legal View Court Reporting and Video, Inc.</ul>
    <ul>For the record, would counsel please introduce themselves and who they represent?</ul>
  <br>
    <ul>(pause for appearances)</ul>
  <br>
    <ul>The court reporter will now swear in the witness.</ul>
  <br>
    <ul>CASE #: <%= @legal_contract.ticket_name %></ul>
    <ul>FORMATS: MPEG1 | MPEG2 | MPG4 | DVD Video | Syncronization | Transcript (PDF) | Encoding | Video Editing | Rough ACSII | Realtime | Full/Mini</ul>
    <ul>Selected Format: <%= @legal_contract.media_format %></ul>
    <ul>Instructions: <%= @legal_contract.instructions %></ul>
  <br>
    <ul>FIRM | <%= @legal_contract.firm %></ul>
  <br>
    <ul>Signatures: _________________________</ul>
  <br>
    <ul>#<%= @legal_contract.ticket_name %> To Be Completed By: <%= @legal_contract.due_date %></ul>
  <br>
    <ul>Other Statements On The Record:</ul>
    <li>Going ON the record: "we are going ON the record at _____ am/pm"</li>
    <li>Going OFF the record: "we are going OFF the record at _____ am/pm"</li>
    <li>Change of DVD: "we are going OFF the record with the end of tape # _____ at _____ am/pm"</li>
    <li>Change of DVD: "we are going ON the record with the beginning of tape # _____ at _____ am/pm"</li>
    <li>Deposition conclusion: "This marks the end of DVD # _____ and the deposition of ____________. We are now going OFF the record at _____ am/pm" </li>
  <br>
    <ul>Estimated Billable Hours $<%= @legal_contract.billable_hours %></ul>
  <br>
    <ul>For The Court Reporter:</ul>
    <li>Give them the correct spelling of your full name and get their name</li>
    <li>Ask them if they want a headphone line - tell them you can adjust their volume, if too loud</li>
    <li>Ask them if they want a copy of the the audio in digital form (to be recorded during the deposition)</li>
  <br>
    <ul>Shipping Info Notes: Legal View, Inc. and <%= @legal_contract.videographer %>, Videographer does production.</ul>
  </div>
</div>

<!-- Patent Filing -->

