<h1>Activate Contracts</h1>

<div class="thumbnail">
  <% @active_contracts.each do |active_contract| %>
    <h2><%= active_contract.legal_contract.name %> - qty: <%= active_contract.quantity %> - <%= link_to 'remove legal contract', "/active_contracts/#{active_contract.id}", method: :delete %></h2>
  <% end %>
</div>

<%= link_to 'Add To Job Queue!', '/gigs', method: :post, class: "btn btn-danger" %>
<br>

<div class="thumbnail">
  <% @active_contracts.each do |active_contract| %>
    <h2><%= active_contract.design_contract.name %> - qty: <%= active_contract.quantity %> - <%= link_to 'remove design contract', "/active_contracts/#{active_contract.id}", method: :delete %></h2>
  <% end %>
</div>

<%= link_to 'Add To Job Queue!', '/gigs', method: :post, class: "btn btn-danger" %>
<br>

<div class="thumbnail">
  <% @active_contracts.each do |active_contract| %>
    <h2><%= active_contract.music_contract.name %> - qty: <%= active_contract.quantity %> - <%= link_to 'remove music contract', "/active_contracts/#{active_contract.id}", method: :delete %></h2>
  <% end %>
</div>

<%= link_to 'Add To Job Queue!', '/gigs', method: :post, class: "btn btn-danger" %>