<h1><%= @gig.user.name %> Your next gig is being processed!</h1>

<br>

<p>Contract ID, User Name: <%= @design_contract.id_present_to_customer %></p>
<p>Purchased At <%= @design_contract.pretty_created_at %></p>

<% @design_contract.carted_products.each do |carted_product| %>
<h2><%= active_contract.design_contract.user.name %> - Quantity: <%= active_contract.quantity %></h2>
<% end %>

<br>

<p>Contract ID, User Name: <%= @music_contract.id_present_to_customer %></p>
<p>Purchased At <%= @music_contract.pretty_created_at %></p>

<% @music_contract.active_contracts.each do |active_contract| %>
<h2><%= active_contract.music_contract.user.name %> - Quantity: <%= active_contract.quantity %></h2>
<% end %>

<br>

<p>Contract ID, User Name: <%= @legal_contract.id_present_to_customer %></p>
<p>Purchased At <%= @legal_contract.pretty_created_at %></p>

<% @legal_contract.active_contracts.each do |active_contract| %>
<h2><%= active_contract.legal_contract.user.name %> - Quantity: <%= active_contract.quantity %></h2>
<% end %>
<br>