<div class="container">
<%= form_for @design_contract, html: { multipart: true } do |f| %>
  <% if design_contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(design_contract.errors.count, "error") %> prohibited this design_contract from being saved:</h2>

      <ul>
      <% design_contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :designer %>
    <%= f.text_field :designer %>
  </div>

  <div class="field">
    <%= f.label :client %>
    <%= f.text_field :client %>
  </div>

  <div class="field">
    <%= f.label :gig_name %>
    <%= f.text_field :gig_name %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :due_date %>
    <%= f.text_field :due_date %>
  </div>

  <div class="field">
    <%= f.label :specs %>
    <%= f.text_field :specs %>
  </div>

  <div class="field">
    <%= f.label :billable_hours %>
    <%= f.text_field :billable_hours %>
  </div>

  <br>
    <%= f.hidden_field :signature, class: 'signature_pad_input' %>
  <div class="signature_pad text-center">
    <div class="signature_pad_body">
      <canvas></canvas>
    </div>
    <div class="signature_pad_footer">
      <div class="text-muted">Approved by <%= @design_contract.client %></div>
      <button type="button" class="btn-btn-default signature_pad_clear">clear</button>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Create New Contract' %>
  </div>

<% end %> 
