<section>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Edit Design Document</h2>

    <%= link_to 'Show', @design_doc %> | <%= link_to 'Back', design_docs_path %>
      
    </div>  
  </div>
</div>

<!-- < not sure here > -->
<section>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Edit Design Document</h2>

    <%= form_tag "/design-docs/#{ @design_contract.id }", method: :patch do %>
      
      <div>
        <%= label_tag :designer %>
        <%= text_field_tag :designer, @design_contract.designer %>
      </div>
      
      <div>
        <%= label_tag :client %>
        <%= text_field_tag :client, @design_contract.client %>
      </div>
       
      <div>
        <%= label_tag :gig_name %>
        <%= text_field_tag :gig_name, @design_contract.gig_name %>
      </div>

      <div>
        <%= label_tag :title %>
        <%= text_field_tag :title, @design_contract.title %>
      </div>
      
      <div>
        <%= label_tag :due_date %>
        <%= text_field_tag :due_date, @design_contract.due_date %>
      </div>
      
      <div>
        <%= label_tag :specs %>
        <%= text_field_tag :specs, @design_contract.specs %>
      </div>
      
      <div>
        <%= label_tag :billable_hours %>
        <%= text_field_tag :billable_hours, @design_contract.billable_hours %>
      </div>
      
      <div>
        <% hidden_field_tag :client_id %>
      </div>
      <br>
        <%= hidden_field_tag :signature, '', class: 'signature_pad_input' %>
        <div class="signature_pad text-center">
          <div class="signature_pad_body">
            <canvas></canvas>
          </div>
          <div class="signature_pad_footer">
            <div class="text-muted">Sign above</div>
            <button type="button" class="btn btn-default signature_pad_clear">Clear</button>
            <%= submit_tag 'Submit Document Updates', class: 'btn btn-success signature_pad_save'  %>
          </div>
        </div>
      <br>
        <% end %>
      <br>
    <div>
  </div>
</div>  
</section>