<section>
<div class="container">
  <h2><%= link_to 'Design Contracts', '/design-docs',  class: "btn btn-default" %> <%= link_to 'New Design Contract', '/design-docs/new', class: "btn btn-default" %> <%= link_to 'All Clients', '/clients', class: "btn btn-info" %></h2>
  <br>
  <% active = 0 %>
  <% @design_contracts.each do |contract| %>
    <% if contract.active %>
    <% active += 1 %>
    <% end %>
  <% end %>
  <h2><%= active %> Active Design Contracts</h2>

  <% @design_contracts.each do |design_contract| %>
    <h3>Designer: <%= design_contract.designer %></h3>
    <h3>Client: <%= design_contract.client %></h3>
    <h3>Project Title: <a href="/design-docs/<%= design_contract.id %>"><%= design_contract.title %> <%= design_contract.gig_name %></a></h3>
    <h3>Gig Due Date: <%= design_contract.due_date %></h3>
    <h3>Project Specs: <%= design_contract.specs %></h3>
    <h4>Billable Hours: <%= design_contract.billable_hours %> </h4>
    <h4>Job Status: 
        <% if design_contract.active %> 
        currently in progress...
        <% else %> 
        gig completed!
        <% end %>
    </h4> 
  <br> 
<% end %>
</div> 
</section>
