<section>
<h2><%= link_to 'Design Contracts', '/design-docs',  class: "btn btn-info" %> <%= link_to 'New Design Contract', '/design-docs/new', class: "btn btn-info" %> <%= link_to 'All Clients', '/clients', class: "btn btn-info" %></h2>
<br>
<h2>Existing Design Contracts</h2>
<% @design_contracts.each do |design_contract| %>
  <h3>Contract Title: <%= design_contract.title %></h3>
  <h3>Job ID: <a href="/design-docs/<%= design_contract.id %>"><%= design_contract.title %></a></h3>
  <h3>Gig Due Date: <%= design_contract.due_date %></h3>
<% end %>
</section>
