<section>
  <div class="container">
    <div class="header-text">
    <h2><%= link_to 'See Music Contracts', '/music-docs',  class: "btn btn-default" %> <%= link_to 'New Music Contract', '/music-docs/new', class: "btn btn-default" %> <%= link_to 'All Clients', '/clients', class: "btn btn-default" %></h2>
    </div>
<br>
<% active = 0 %>
<% @music_contracts.each do |contract| %>
  <% if contract.active %>
  <% active += 1 %>
  <% end %>
<% end %>
<h2><%= active %> Active Music Contracts</h2>

<% @music_contracts.each do |music_contract| %>
  <h3>Musician: <%= music_contract.musician %></h3>
  <h3>Client: <%= music_contract.client %></h3>
  <h3>Project Title: <a href="/music-docs/<%= music_contract.id %>"><%= music_contract.title %> <%= music_contract.gig_name %></a></h3>
  <h3>Event Venue: <%= music_contract.event_venue %></h3>
  <h3>Notes: <%= music_contract.notes %></h3>
  <h3>Gig Due Date: <%= music_contract.due_date %></h3>
  <h4>Billable Hours: <%= music_contract.billable_hours %> </h4>
  <h4>Job Status: 
    <% if music_contract.active %> 
    currently in progress...
    <% else %> 
    gig completed!
    <% end %>
  </h4>
  <br>
<% end %>
  </div>
</section>
